<div class="search-form mat-elevation-z2">
    <mat-form-field class="form-field" floatLabel="never">
        <span matPrefix>
            <mat-icon class="search-icon">search</mat-icon>
        </span>
        <input matInput placeholder="Search by name" [(ngModel)]="searchText" autocomplete="off">
        <span class="pointer-cursor" matSuffix *ngIf="searchText" (click)="clearSearchText()">
            <mat-icon class="search-icon">clear</mat-icon>
        </span>

    </mat-form-field>
    <mat-slide-toggle class="slide-toggle" (change)="changeOrder($event)">Sort by name</mat-slide-toggle>
</div>

<mat-list class="item-list">
    <mat-list-item *ngFor="let printer of printerList$ | async | orderBy: orderColumn | printersFilter: searchText">
        <h3 matLine>
            {{printer.name}}
            <b>({{printer.status}})</b>
        </h3>
        <p matLine>
            {{printer.description}}
        </p>
        <p matLine>
            IP: {{printer.networkAddress}}
        </p>
        <p matLine>
            type: {{printer.type}}
        </p>
        <p matLine>
            paper count: {{printer.paperCount}}
        </p>
        <a mat-icon-button [routerLink]="['/','printer', printer.id]" attr.aria-label="Go to {{printer.name}} edit">
            <mat-icon>edit</mat-icon>
        </a>
        <a mat-icon-button [href]="getReportUrl()" attr.download="printer_report_{{printer.name}}.txt" attr.aria-label="Download {{printer.name}} report">
            <mat-icon>save_alt</mat-icon>
        </a>
        <button mat-icon-button (click)="deletePrinter(printer)" attr.aria-label="Delete {{printer.name}} printer">
            <mat-icon>delete</mat-icon>
        </button>
        <mat-divider></mat-divider>
    </mat-list-item>
</mat-list>

<div class="main-fab">
    <button mat-fab color="accent" (click)="createNewPrinter()">
        <mat-icon>add</mat-icon>
    </button>
</div>