<!-- <div *ngIf="printer$ | async as printer">
    <mat-card>
        <mat-card-title>
            {{printer.id}} {{printer.name}}
        </mat-card-title>
        <mat-card-content>
            {{printer.description}}
        </mat-card-content>
    </mat-card>
</div> -->

<form [formGroup]="form" [appConnectForm]="printer$ | async">
    <mat-card class="card">
        <mat-card-title>
            <a class="back-icon" mat-icon-button [routerLink]="['/']" attr.aria-label="Back to list of printers">
                <mat-icon>arrow_back</mat-icon>
            </a>
            <span>Edit printer</span>
        </mat-card-title>
        <mat-card-content>

            <mat-form-field class="form-field">
                <input matInput placeholder="Name" formControlName="name" type="text">
            </mat-form-field>
            <mat-form-field class="form-field">
                <input matInput placeholder="Description" formControlName="description" type="text">
            </mat-form-field>

            <mat-form-field class="form-field">
                <mat-select placeholder="Status" formControlName="status" type="text">
                    <mat-option *ngFor="let status of statusChoices" [value]="status">
                        {{status}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="form-field">
                <input matInput placeholder="Network Address" formControlName="networkAddress" type="text">
            </mat-form-field>


            <mat-form-field class="form-field">
                <input matInput placeholder="Paper Count" formControlName="paperCount" type="number">
            </mat-form-field>

            <mat-form-field class="form-field">
                <mat-select placeholder="Type" formControlName="type" type="text">
                    <mat-option *ngFor="let type of typeChoices" [value]="type">
                        {{type}}
                    </mat-option>
                </mat-select>

            </mat-form-field>

        </mat-card-content>
    </mat-card>
</form>

<div class="main-fab">
    <button mat-fab color="accent" (click)="updatePrinter()">
        <mat-icon>done</mat-icon>
    </button>
</div>